@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "bootstrap-datepicker3";
@import "jquery-ui";

.sortable-icon {
  cursor: move;
  font-size: 20px;
  color: #ECECEC;
  padding-right: 10px;
}

// .submenu {
//   margin-bottom: 10px;
// }
